  /* Footer */
  .footer {
    background-color: #1f2937;
    /* bg-gray-800 */
    color: #9ca3af;
    /* text-gray-400 */
    padding: 1rem 0;
    /* py-4 */
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
  }

  .footer a {
    color: #9ca3af;
    /* Ensure links inherit footer color */
    text-decoration: none;
  }