<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/layout.css">
  <title>Steam Games</title>
  <script>
    const search = (e) => {
      e.preventDefault()
      const searchQuery = document.getElementById('searchQuery').value.replace(" ", "+")
      window.location.href = "/search/" + searchQuery
    }
  </script>
</head>

<body class="body">
  <%- include('../partial/header.ejs'); %>

    <!-- Main Content -->
    <main class="container">
      <div class="searchbar">
        <form onSubmit="search(event)">
          <input type="text" id="searchQuery" placeholder="Search Games" />
        </form>
      </div>

      <%- include('../partial/table.ejs', rows); %>

        <h3 class="result-count">
          <%= count %> games in database
        </h3>
    </main>

    <!-- Footer -->
    <%- include('../partial/footer.ejs'); %>

</body>

</html>