<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="header">
    <nav class="nav">
        <div class="nav-logo">
            <a href="/">Steam Games</a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/about">Master Node</a>
            </li>
            <li>
                <a href="/services">Node 2</a>
            </li>
            <li>
                <a href="/contact">Node 3</a>
            </li>
        </ul>
    </nav>
</header>