<head>
    <link rel="stylesheet" href="/css/header.css">
    <script>
        function setCookie(node) {
            fetch(`/setCookie/${node}`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Failed to set cookie');
                    }
                    return res.json();
                })
                .then((data) => {
                    if (data.status === 200) {
                        window.location.replace('/');
                    } else {
                        alert('Failed to set cookie. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
        }

        function sync() {
            fetch(`/sync`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Failed to sync');
                    }
                    return res.json();
                })
                .then((data) => {
                    alert(data.message);
                    window.location.replace('/');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
        };
    </script>
</head>
<header class="header">
    <nav class="nav">
        <div class="nav-logo">
            <a href="/">Steam Games</a>
        </div>
        <ul class="nav-list">
            <!-- Sync button -->
            <li>
                <p onclick="sync()">Sync</p>
            </li>
            <li>
                <a href="#" onclick="setCookie(1); return false;">Master Node</a>
            </li>
            <li>
                <a href="#" onclick="setCookie(2); return false;">Node 2</a>
            </li>
            <li>
                <a href="#" onclick="setCookie(3); return false;">Node 3</a>
            </li>
        </ul>
    </nav>
</header>