<head>
  <link rel="stylesheet" href="/css/header.css">
</head>
<header class="header">
  <nav class="nav">
    <div class="nav-logo">
      <a href="/">Steam Games</a>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/setCookie/1">Master Node</a>
      </li>
      <li>
        <a href="/setCookie/2">Node 2</a>
      </li>
      <li>
        <a href="/setCookie/3">Node 3</a>
      </li>
    </ul>
  </nav>
</header>